<div class="span3" id="filter-container">
  <% if @the_sites.present? %>
  <div style="height: 1px;"></div>
  <h4><%= image_tag "sitesicon.png", class: "baricon" %>Add a site <%= image_tag 'bn_save_changes', class:"filter-button"%></h4>

  <div style="padding:1px"></div>
  <ul class="search-side">
    <%= form_tag(search_index_path, method: :get) do -%>
        <%= hidden_field_tag :keywords, @search_term %>
        <%= hidden_field_tag :variable_name, @variables if params[:variable_name].present? %>
        <div class="filter_wrapper">
          <% @the_sites.each do |site| %>
              <% @checked = "" %>
              <% if @site_filters.nil? == false %>
                  <% @site_filters.each do |site_filter| %>
                      <% if site_filter == site %>
                          <% @checked = "checked" %>
                      <% end %>
                  <% end %>
              <% end %>
              <li><input type="checkbox" name="site" class="triggerbox" value="<%= site %>" <%= @checked %>> <%= site %> </li>
          <% end %>
            <% if @more_sites.present? %>
            <div class="more_items">
              <% @more_sites.each do |site| %>

                  <% @checked = "" %>
                  <% if @site_filters.nil? == false %>
                      <% @site_filters.each do |site_filter| %>
                          <% if site_filter == site %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>
                  <li><input type="checkbox" name="site" class="triggerbox" value="<%= site %>" <%= @checked %>> <%= site %> </li>
              <% end %>
            </div>
            <% end %>
        </div>
    <% end %>
  </ul>
  <hr>
  <% end %>
  <h4>Filter Results</h4>
  <hr>
      <% if @ecosystems.present? %>
        <h4><%= image_tag "variableicon.png", class: "baricon" %>Ecosystems </h4>
        <ul class="search-side">
              <div class="filter_wrapper">
                <!-- if enabled -->
                <% @all_ecosystems.each do |eco_item| %>
                    <% @disabled = "disabled" %>
                    <% @checked = "" %>
                    <% @ecosystems.each do |item| %>
                        <% if item.present? and item != "" %>
                          <% if eco_item == item %>
                            <% @disabled = "" %>
                          <% end %>
                        <% end %>
                  <% end %>

                  <% if @ecosystems_filtered.nil? == false %>
                      <% @ecosystems_filtered.each do |item_filter| %>
                          <% if item_filter == eco_item %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>

                  <% if @disabled == "" %>
                  <div class="trigger-container">
                    <li> <div class="checkbox-trigger"><input type="checkbox" name="ecosystem" id="eco_input" class="triggerbox" value="<%= eco_item %>" <%= @checked %> <%= @disabled %> ><label for="eco_input" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= eco_item %></label></div>
                    </li>
                  </div>
                  <% end %>
                <% end %>

                <!-- if disabled -->

                <% @all_ecosystems.each do |eco_item| %>
                    <% @disabled = "disabled" %>
                    <% @checked = "" %>
                    <% @ecosystems.each do |item| %>
                        <% if item.present? and item != "" %>
                          <% if eco_item == item %>
                            <% @disabled = "" %>
                          <% end %>
                        <% end %>
                  <% end %>

                  <% if @ecosystems_filtered.nil? == false %>
                      <% @ecosystems_filtered.each do |item_filter| %>
                          <% if item_filter == eco_item %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>

                  <% if @disabled == "disabled" %>
                  <div class="trigger-container">
                    <li> <div class="checkbox-trigger"><input type="checkbox" name="ecosystem" id="eco_input" class="triggerbox" value="<%= eco_item %>" <%= @checked %> <%= @disabled %> ><label for="eco_input" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= eco_item %></label></div>
                    </li>
                  </div>
                  <% end %>
                <% end %>

              </div>
        </ul>
      <% end %>

      <% if @biome.present? %>
        <hr>
        <h4><%= image_tag "variableicon.png", class: "baricon" %>Biome </h4>
        <ul class="search-side">
          <%= form_tag(request.fullpath, method: :get) do %>
              <%= hidden_field_tag :keywords, @search_term %>
              <%= hidden_field_tag :site, params[:site] if params[:site].present? %>
              <div class="filter_wrapper">
                <!-- enabled -->
                <% @all_biome.each do |biome_item| %>
                  <% @disabled = "disabled" %>
                  <% @checked = "" %>
                  <% @biome.each do |item| %>
                      <% if biome_item == item %>
                        <% @disabled = "" %>
                      <% end %>
                  <% end %>
                  <% if @biome_filtered.nil? == false %>
                      <% @biome_filtered.each do |item_filter| %>
                          <% if item_filter == biome_item %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>
                  <% if @disabled == "" %>
                  <div class="trigger-container-enabled">
                    <li> <div class="checkbox-trigger"><input type="checkbox" name="biome" id="biome_input" class="triggerbox" value="<%= biome_item %>" <%= @checked %> <%= @disabled %> ><label for="biome_input" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= biome_item %></label></div>
                    </li>
                  </div>
                  <% end %>
                <% end %>

                <!-- disabled -->
                <% @all_biome.each do |biome_item| %>
                  <% @disabled = "disabled" %>
                  <% @checked = "" %>
                  <% @biome.each do |item| %>
                      <% if biome_item == item %>
                        <% @disabled = "" %>
                      <% end %>
                  <% end %>
                  <% if @biome_filtered.nil? == false %>
                      <% @biome_filtered.each do |item_filter| %>
                          <% if item_filter == biome_item %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>
                  <% if @disabled == "disabled" %>
                  <div class="trigger-container-enabled">
                    <li> <div class="checkbox-trigger"><input type="checkbox" name="biome" id="biome_input" class="triggerbox" value="<%= biome_item %>" <%= @checked %> <%= @disabled %> ><label for="biome_input" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= biome_item %></label></div>
                    </li>
                  </div>
                  <% end %>
                <% end %>

              </div>
          <% end %>
        </ul>
      <% end %>
      <% if @topics.present? %>
        <hr>
        <h4><%= image_tag "variableicon.png", class: "baricon" %>Topics </h4>
        <ul class="search-side">
          <%= form_tag(request.fullpath, method: :get) do %>
              <%= hidden_field_tag :keywords, @search_term %>
              <%= hidden_field_tag :site, params[:site] if params[:site].present? %>
              <div class="filter_wrapper">
                <!-- enabled -->
                <% @all_topics.each do |topic_item| %>
                  <% @checked = "" %>
                  <% @disabled = "disabled" %>
                  <% @topics.each do |item| %>
                    <% if topic_item.topic == item %>
                      <% @disabled = "" %>
                    <% end %>
                  <% end %>

                  <% if @topics_filtered.nil? == false %>
                      <% @topics_filtered.each do |item_filter| %>
                          <% if item_filter == topic_item %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>

                  <% if @disabled == "" %>
                  <div class="trigger-container">
                    <li> <div class="checkbox-trigger"><input type="checkbox" name="topic" id="topic_input" class="triggerbox" value="<%= topic_item.topic %>" <%= @checked %> <%= @disabled %> ><label for="topic_input" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= topic_item.topic %></label></div>
                    </li>
                  </div>
                  <% end %>
                <% end %>

                <!-- disabled -->
                <% @all_topics.each do |topic_item| %>
                  <% @checked = "" %>
                  <% @disabled = "disabled" %>
                  <% @topics.each do |item| %>
                    <% if topic_item.topic == item %>
                      <% @disabled = "" %>
                    <% end %>
                  <% end %>

                  <% if @topics_filtered.nil? == false %>
                      <% @topics_filtered.each do |item_filter| %>
                          <% if item_filter == topic_item %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>

                  <% if @disabled == "disabled" %>
                  <div class="trigger-container">
                    <li> <div class="checkbox-trigger"><input type="checkbox" name="topic" id="topic_input" class="triggerbox" value="<%= topic_item.topic %>" <%= @checked %> <%= @disabled %> ><label for="topic_input" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= topic_item.topic %></label></div>
                    </li>
                  </div>
                  <% end %>
                <% end %>
              </div>
          <% end %>
        </ul>
      <% end %>

      <% if @sub_topics.present? %>
      <hr>
      <h4><%= image_tag "variableicon.png", class: "baricon" %>Subtopics </h4>
        <ul class="search-side">
          <%= form_tag(request.fullpath, method: :get) do %>
              <%= hidden_field_tag :keywords, @search_term %>
              <%= hidden_field_tag :site, params[:site] if params[:site].present? %>
              <div class="filter_wrapper">
                <!-- enabled -->
                <% @all_sub_topics.map do |stopic| %>
                  <% @checked = "" %>
                  <% @disabled = "disabled" %>
                  <% @sub_topics.map do |sstopic| %>
                    <% if stopic == sstopic %>
                      <% @disabled = "" %>
                    <% end %>
                  <% end %>
                  <% if @subtopic_filters.nil? == false %>
                      <% @subtopic_filters.each do |subtopic| %>
                          <% if subtopic == stopic %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>

                  <% if @disabled == "" %>
                    <div class="trigger-container">
                      <li> <div class="checkbox-trigger"><input type="checkbox" name="subtopic" id="suptopic_input" class="triggerbox" value="<%= stopic %>" <%= @checked %> <%= @disabled %> ><label for="suptopic_input" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= stopic %></label></div>
                      </li>
                    </div>
                  <% end %>
                <% end %>

                <!-- disabled -->
                <% @all_sub_topics.map do |stopic| %>
                  <% @checked = "" %>
                  <% @disabled = "disabled" %>
                  <% @sub_topics.map do |sstopic| %>
                    <% if stopic == sstopic %>
                      <% @disabled = "" %>
                    <% end %>
                  <% end %>
                  <% if @subtopic_filters.nil? == false %>
                      <% @subtopic_filters.each do |subtopic| %>
                          <% if subtopic == stopic %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>

                  <% if @disabled == "disabled" %>
                    <div class="trigger-container">
                      <li> <div class="checkbox-trigger"><input type="checkbox" name="subtopic" id="suptopic_input" class="triggerbox" value="<%= stopic %>" <%= @checked %> <%= @disabled %> ><label for="suptopic_input" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= stopic %></label></div>
                      </li>
                    </div>
                  <% end %>
                <% end %>
              </div>
          <% end %>
        </ul>
      <% end %>

      <% if @variable_names.present? %>
        <hr>
        <h4><%= image_tag "variableicon.png", class: "baricon" %>Variables </h4>

        <ul class="search-side">
          <%= form_tag(request.fullpath, method: :get) do %>
              <%= hidden_field_tag :keywords, @search_term %>
              <%= hidden_field_tag :site, params[:site] if params[:site].present? %>
              <div class="filter_wrapper">
                <!-- endabled -->
                <% @all_variables.each do |variable_item| %>
                  <% @checked = "" %>
                  <% @disabled = "disabled" %>
                  <% @variable_names.map do |variable| %>
                      <% if variable_item == variable %>
                        <% @disabled = "" %>
                      <% end %>
                  <% end %>

                  <% if @variable_filtered.nil? == false %>
                      <% @variable_filtered.each do |v| %>
                          <% if v == variable_item %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>
                  <% if @disabled == "" %>
                  <li> <div class="checkbox-trigger"><input type="checkbox" name="variable" id="variable-item" class="triggerbox" value="<%= variable_item %>" <%= @checked %> <%= @disabled %> ><label for="variable-item" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= variable_item %></label></div>
                  </li>
                  <%end%>
                <% end %>
                <!-- disabled -->
                <% @all_variables.each do |variable_item| %>
                  <% @checked = "" %>
                  <% @disabled = "disabled" %>
                  <% @variable_names.map do |variable| %>
                      <% if variable_item == variable %>
                        <% @disabled = "" %>
                      <% end %>
                  <% end %>

                  <% if @variable_filtered.nil? == false %>
                      <% @variable_filtered.each do |v| %>
                          <% if v == variable_item %>
                              <% @checked = "checked" %>
                          <% end %>
                      <% end %>
                  <% end %>
                  <% if @disabled == "disabled" %>
                  <li> <div class="checkbox-trigger"><input type="checkbox" name="variable" id="variable-item" class="triggerbox" value="<%= variable_item %>" <%= @checked %> <%= @disabled %> ><label for="variable-item" class="checkbox-label <%= "checkbox-#{@disabled}" %>"><%= variable_item %></label></div>
                  </li>
                  <%end%>
                <% end %>
              </div>
          <% end %>
        </ul>
      <% end %>

      <% if @min_date.present? and @max_date.present? %>
        <hr>

        <h4><%= image_tag "calendar.png", class: "baricon" %><a href="#">Date Range</a></h4>

        <ul class="search-side">
          <%= form_tag(request.fullpath, method: :get) do %>
              
              <li>Min Date: <%= text_field_tag :min_date_field, @min_date, class: "datepicker min-date" %></li>
              <li>Max Date: <%= text_field_tag :max_date_field, @max_date, class: "datepicker max-date" %></li>
              <div class="date-save-button"><%= image_tag 'bn_save_changes', class:"filter-button"%></div>
          <% end %>
        </ul>
      <% end %>

</div> <!-- span -->

<div class="span searchbar">
  <div class="row">
    <div class="span9">
      <div class="row">
        <div style="padding-left:20px;" class="span3">
          <h4>Search by keyword <%= link_to '<button class="btn btn-link" id="reset-button" type="button">Reset</button>'.html_safe, search_index_path %></h4>
        </div> <!-- span -->
        <div style="margin-right: -20px; padding-top: 10px;" class="span6">
          <fieldset>

            <%= form_tag('/search', method: :get, id: "search-form") do %>
                <%= text_field_tag :search_term, "", id: "search-input" %>
                <%= hidden_field_tag :keywords, @search_params[:keywords], id:"keywords_field" %>
                <%= hidden_field_tag :site_filters, params[:site_filters]%>
                <%= hidden_field_tag :topics, params[:topics] %>
                <%= hidden_field_tag :subtopics, params[:subtopics] %>
                <%= hidden_field_tag :variable_filters, params[:variable_filters] %>
                <%= hidden_field_tag :biome, params[:biome] %>
                <%= hidden_field_tag :ecosystems, params[:ecosystems] %>
                <%= hidden_field_tag :min_date, params[:min_date] %>
                <%= hidden_field_tag :max_date, params[:max_date] %>
                <%= submit_tag "Search", class: "btn btn-primary", id: "search-button" %>
            <% end %>
          </fieldset>
        </div> <!-- span <input class="searchinput"type="search" value="Plant Productivity"></input> -->
      </div> <!-- row -->
    </div> <!-- span -->
  </div> <!-- row -->
</div> <!-- span --></br>

<div class="row">
  <div class="span9">
    <div style="height: 20px;"></div>


    <% if @all_search_terms %>
        <div class="row">
          <div class="span9">
            <% @search_params.each do |k, v| %>
              <% if k == "keywords" %>
                    <% unless v.blank? %>
                        <% v.split(",").each do |vv| %>
                            <%= link_to "#{image_tag('delete.png', class: 'baricon')} #{vv}".html_safe, "#", class:'delete_keyword', value:"#{vv}" %>&nbsp;
                        <% end %>
                    <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
    <% end %>


    <!-- BEGIN SEARCH RESULTS -->

    <% if @results.present? %>
        <%= paginate @results %>
        <div class="span9">
          <%= @total_search_count %> results</br>
          <strong>Click to Compare</strong>
        </div>
        <%= form_tag('/comparison', method: :get) do %>
            <% @results.each do |result| %>
                <%# {"id_obs"=>"1", "start_date"=>"1988-01-01 00:00:00", "end_date"=>"1988-12-31 00:00:00", "year"=>"1988", "month"=>nil, "observation"=>"506.7", "observation_est"=>"506.7", "s_err"=>"24", "s_dev"=>"48", "n_expected"=>nil, "n_observed"=>"4", "n_missing"=>nil, "n_questionable"=>nil, "n_estimated"=>nil, "n_trace"=>nil, "n_invalid"=>nil} %>
                <div class="span9">
                  <div class="row">
                    <div class="span1">
                      <fieldset>
                        <%= check_box_tag :docid, result.docid.to_s, false, {multiple: true, name: 'docids[]'} %>&nbsp;&nbsp;
                      </fieldset>
                    </div> <!-- span -->
                    <div class="span6">
                      <h4 class="darkbrown"><%= link_to result.variable_name, search_path(result.entryid) %></h4>
                      <p class="searchbody"><%= result.docid %>: <%= result.subtopic %></p>
                      <p><%= image_tag "station.png", class: "icon" %>
                        <b><%= result.station_names %></b> <%= result.site_name %>
                        --<%= result.topic %> / <%= result.subtopic %> -- <%= result.unit_name %>
                        -- <%= result.timescale %></p>
                    </div> <!-- span -->
                    <div class="span2 searchright">
                      <h4><%= result.begin_date.year %> - <%= result.end_date.year %></h4>
                      <% if session["datastore_array"].include?(result.docid.to_s) %>
                          <div class="remove-datastore">
                            <%= hidden_field_tag :jsdocid, result.docid.to_s, class: "jsdocid" %>
                            <i class="fa fa-area-chart fa-3x text-error"></i>
                          </div>

                      <% else %>
                          <div class="add-datastore">
                            <%= hidden_field_tag :jsdocid, result.docid.to_s, class: "jsdocid" %>
                            <i class="fa fa-line-chart fa-3x"></i>
                          </div>
                      <% end %>
                    </div> <!-- span -->
                  </div> <!-- row -->
                  <hr>
                </div> <!-- span -->
            <% end %>
            <%= submit_tag "Compare Datasets" %>
        <% end %>
        <%= paginate @results %>
    <% else %>
      <% if @search_params[:keywords].present? || @topics_filtered.present? || @biome_filtered.present? || @variable_filtered.present?%>
        <div class="alert alert-danger">
          <strong>Sorry!</strong> The search that you preformed doesn't seem to yield any results. Try removing some of the keywords above or click the reset link.
        </div>
      <% end %>
      <h3>Choose a location</h3>
      <ul class="ul-no-style">
        <div class="row">
          <div class="span10">
            <div class="span3">
              <li>
                <% @items[0].each do |item| %>
                    <a href='#' class='location' value='<%= item.site_name %>'>
            <span class="location_link <%= "bold" if @sites_filtered.include?(item.site) %>" id="<%= item.site %>">
              - <%= item.site_name %><br/>

            </span>
                    </a>
                <% end %>
              </li>
              <li class="divider"></li>
            </div> <!-- span -->
            <div class="span3">
              <% @items[1].each do |item| %>
                  <a href='#' class='location' value='<%= item.site_name %>'>
                      <span class="location_link <%= "bold" if @sites_filtered.include?(item.site) %>" id="<%= item.site %>">- <%= item.site_name %>
                        <br/></span>
                  </a>
              <% end %>
              </li>
              <li class="divider"></li>
            </div> <!-- span -->

            <div class="span3">
              <li>
                <% @items[2].each do |item| %>
                    <a href='#' class='location' value='<%= item.site_name %>'>
                        <span class="location_link <%= "bold" if @sites_filtered.include?(item.site) %>" id="<%= item.site %>">- <%= item.site_name %>
                          <br/></span>
                    </a>
                <% end %>
              </li>
              <li class="divider"></li>
            </div> <!-- span -->

            <div class="span2">
              <li class="divider"></li>
            </div> <!-- span -->


          </div> <!-- span -->
        </div> <!-- row -->
      </ul>
    <% end %>


  </div> <!-- row -->
