<div class="span3">
  <h3>Filter Results <small><%= link_to "Clear", search_index_path(keywords: @search_term)%></small></h3>
  <h4><%= image_tag "sitesicon.png",  class: "baricon" %><a href="#">Sites</a><span style="float:right;"><a href="#">+/-</a></span></h4>
  <hr>
  <ul class="search-side">
    <%= form_tag(search_index_path, method: :get) do  %>
      <%= hidden_field_tag :keywords, @search_term %>
      <%= hidden_field_tag :variable_name, @variables if params[:variable_name].present? %>
      <% @the_sites.each do |site| %>
	<li><input type="checkbox" name="site" class="triggerbox" value="<%= site %>"> <%= site %> </li>
    <% end %>
    <% end %>
  </ul>
  <hr>

  <h4><%= image_tag "ecosystemicon.png", class: "baricon" %><a href="#">Date Range</a><span style="float:right;"><a href="#">+/-</a></span></h4>
  <hr>
  <ul class="search-side">
    <%= form_tag(request.fullpath, method: :get) do  %>
      <%= hidden_field_tag :keywords, @search_term %>
      <%= hidden_field_tag :variable_name, @variables if params[:variable_name].present? %>
      <%= hidden_field_tag :site, params[:site] if params[:site].present? %>
      <li>Min Date: <%= text_field_tag :min_date, @min_date, class: "datepicker" %></li>
      <li>Max Date: <%= text_field_tag :max_date, @max_date, class: "datepicker" %></li>
      <%= submit_tag %>
    <% end %>
  </ul>
  <hr>

  <h4><%= image_tag "variableicon.png", class: "baricon" %><a href="#">Variables Measured</a><span style="float:right;"><a href="#">+/-</a></span></h4>
  <hr>
  <ul class="search-side">
    <%= form_tag(request.fullpath, method: :get) do  %>
      <%= hidden_field_tag :keywords, @search_term %>
      <%= hidden_field_tag :site, params[:site] if params[:site].present? %>
      <% @variables.map do |variable| %>
	<li><input type="checkbox" name="variable_name" class="triggerbox" value="<%= variable %>"> <%= variable %></li>
    <% end %>
    <% end %>
  </ul>

</div> <!-- span -->

<div class="span searchbar">
  <div class="row">
    <div class="span9">
      <div class="row">
	<div style="padding-left:20px;" class="span3">
	  <% if @results.present? %>
	    <h1>Search Results</h1>
	    <p class="searchbody"><%= @results.count %> results for: <b><%= @search_term %></b></p>
    <% else %>
	    <h1>Search</h1>
    <% end %>
	</div> <!-- span -->
	<div style="margin-right: -20px; padding-top: 27px;" class="span6">
	  <fieldset>

	    <%= form_tag('/search', method: :get) do  %>
	      <%= text_field_tag :keywords, @search_term %>
	      <%= hidden_field_tag :site_filter, params[:site_filter] %>
	      <%= submit_tag "Search" %>
    <% end %>
	  </fieldset>
	</div> <!-- span <input class="searchinput"type="search" value="Plant Productivity"></input> -->
      </div> <!-- row -->
    </div> <!-- span -->
  </div> <!-- row -->
</div> <!-- span -->

<div class="row">
  <div class="span9">
    <ul class='inline'>
      <li>
	<div class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <h4><%= image_tag "globeicon.png", class: "baricon" %>Location</h4>
	  </a>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      	    <div class="row">
      	      <div class="span10">
	      	<div class="span2">
		  <li>
		    <h4>Sites </h4>
		    <span class="<%= "bold" if params[:site_filter].blank? %>" id="all_locations"><small>All</small></span><br />
		    <% @items[0].each do |item| %>
		      <span class="location_link <%= "bold" if @sites_filtered.include?(item.site) %>" id="<%= item.site%>"><%= item.site_name %><br /></span>
		    <% end %>
		  </li>
		  <li class="divider"></li>
	      	</div> <!-- span -->
	      	<div class="span2">
		    <% @items[1].each do |item| %>
		      <span class="location_link <%= "bold" if @sites_filtered.include?(item.site) %>" id="<%= item.site%>"><%= item.site_name %><br /></span>
		    <% end %>
		  </li>
		  <li class="divider"></li>
	      	</div> <!-- span -->

	      	<div class="span2">
		  <li>
		    <% @items[2].each do |item| %>
		      <span class="location_link <%= "bold" if @sites_filtered.include?(item.site) %>" id="<%= item.site%>"><%= item.site_name %><br /></span>
		    <% end %>
		  </li>
		  <li class="divider"></li>
	      	</div> <!-- span -->

	      	<div class="span2">
		  <li class="divider"></li>
	      	</div> <!-- span -->


      	      </div> <!-- span -->
      	    </div> <!-- row -->
	  </ul>
	</div>
      </li>
    </ul>
    <hr>
    <% if @search_term %>
      <div class="row">
	<div class="span9">
	  <a href="/search"><%= image_tag "delete.png", class: "baricon" %><%= @search_term %>&nbsp;</a>		 </a>
	</div>
      </div>
      <hr>
    <% end %>


    <!-- BEGIN SEARCH RESULTS -->

    <% if @results.present? %>

      <%= paginate @results %>
      <div class="span9">
	<p><strong>Click to Add<br /> to Datastore</strong></p>
      </div>
      <%= form_tag('/datastores') do %>
	<% @results.each do |result| %>
	  <%# {"id_obs"=>"1", "start_date"=>"1988-01-01 00:00:00", "end_date"=>"1988-12-31 00:00:00", "year"=>"1988", "month"=>nil, "observation"=>"506.7", "observation_est"=>"506.7", "s_err"=>"24", "s_dev"=>"48", "n_expected"=>nil, "n_observed"=>"4", "n_missing"=>nil, "n_questionable"=>nil, "n_estimated"=>nil, "n_trace"=>nil, "n_invalid"=>nil} %>
	  <div class="span9">
	    <div class="row">
	      <div class="span1">
		<fieldset>
		  <%= check_box_tag :docid, result.docid.to_s, false, {multiple: true, name: 'docids[]'} %>&nbsp;&nbsp;
		</fieldset>
	      </div> <!-- span -->
	      <div class="span6">
		<h4 class="darkbrown"><%= link_to  result.variable_name, search_path(result.entryid) %></h4>
		<p class="searchbody"><%= result.subtopic%></p>
		<p><%= image_tag "station.png", class: "icon" %>
		  <b><%= result.station_names %></b> <%= result.site_name%>
		  --<%= result.topic %> / <%= result.subtopic %> -- <%= result.unit_name%> -- <%= result.timescale %></p>
	      </div> <!-- span -->
	      <div class="span2 searchright">
		<h4><%= result.begin_date.year%> - <%= result.end_date.year %></h4>
		<%= link_to image_tag("datastore_on.png"), search_path(result.entryid) %>
	      </div> <!-- span -->
	    </div> <!-- row -->
	    <hr>
	  </div> <!-- span -->
    <% end %>
    <%= submit_tag "Save To Datastore" %>
    <% end %>
    <%= paginate @results %>
    <% end %>


  </div> <!-- row -->
