<div id="metadata-container">
  <script type="text/JavaScript" language="JavaScript">
    <
    !--insertTemplateOpening('http://ecotrends.nmsu.edu:/exploratory');//--></script>
  <table cellpadding="0" cellspacing="0" class="mainContainerTableStyle" width="100%">
    <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="tablehead-metadata" colspan="2">Dataset Title</td>
          </tr>
          <tr>
            <td class="citation" colspan="2">
              <%= @xml_hash["root"]["eml"]["dataset"]["title"] %>
            </td>
          </tr>
          <tr>
            <td class="tablehead-metadata" colspan="2">Dataset description:</td>
          </tr>
          <tr>
            <td class="citation" colspan="2">
              <%= @xml_hash["root"]["eml"]["dataset"]["dataTable"]["entityDescription"] %>
            </td>
          </tr>
          <tr>
            <td class="tablehead-metadata" colspan="2">Short name:</td>
          </tr>
          <tr>
            <td class="citation" colspan="2">
              <%= @xml_hash["root"]["eml"]["dataset"]["shortName"] %>
            </td>
          </tr>
          <tr>
            <td class="tablehead-metadata" colspan="2">Download File:</td>
          </tr>
          <tr>
            <td class="citation" colspan="2">
              <%= link_to @xml_hash["root"]["eml"]["dataset"]["dataTable"]["physical"]["distribution"]["online"]["url"], @xml_hash["root"]["eml"]["dataset"]["dataTable"]["physical"]["distribution"]["online"]["url"] %>
            </td>
          </tr>

          <!-- data set owners -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">Dataset owners:</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <% @xml_hash["root"]["eml"]["dataset"]["creator"].each do |creator| %>

                    <tr>
                      <td class="highlight-metadata" width="15%"><%= creator["organizationName"] %></td>
                      <td class="secondCol-metadata" width="85%">
                        <% creator["address"].each do |key, address| %>
                          <% if key == "deliveryPoint" %>
                                <% if address.kind_of?(Array) %>
                                  <%= "#{key.underscore.humanize}: #{address.join(', ')}" %>
                                <% else %>
                                    <%= "#{key.underscore.humanize}: #{address}" %>
                                <% end %>
                          <% else %>
                                <%= "#{key.underscore.humanize}: #{address}" %> </br>
                          <% end %>

                        <% end %>

                        Email: <%= link_to creator["electronicMailAddress"], "mailto:#{creator['electronicMailAddress']}" %></br>
                        Contry: <%= link_to creator["onlineUrl"], creator["onlineUrl"] %></br>
                      </td>
                    </tr>

                <% end %>

                </tbody>
              </table>
            </td>
          </tr>
          <!-- metadata owners -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">Metadata owners:</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <% @xml_hash["root"]["eml"]["dataset"]["metadataProvider"].each do |provider| %>

                    <tr>
                      <td class="highlight-metadata" width="15%"><%= provider["organizationName"] %></td>
                      <td class="secondCol-metadata" width="85%">
                        <% provider["address"].each do |key, address| %>
                            <% if key == "deliveryPoint" %>
                                <% if address.kind_of?(Array) %>
                                    <%= "#{key.underscore.humanize}: #{address.join(', ')}" %>
                                <% else %>
                                    <%= "#{key.underscore.humanize}: #{address}" %>
                                <% end %>
                            <% else %>
                                <%= "#{key.underscore.humanize}: #{address}" %> </br>
                            <% end %>
                        <% end %>

                        Phone: <%= provider["phone"] %></br>
                        Email: <%= link_to provider["electronicMailAddress"], "mailto:#{provider['electronicMailAddress']}" %></br>
                        Contry: <%= link_to provider["onlineUrl"], provider["onlineUrl"] %></br>
                      </td>
                    </tr>

                <% end %>

                </tbody>
              </table>
            </td>
          </tr>

          <!-- Abstract -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">Abstract:</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                    <tr>
                      <td class="highlight-metadata" width="15%"></td>
                      <td class="secondCol-metadata" width="85%">
                        <% @xml_hash["root"]["eml"]["dataset"]["abstract"]["para"].each do |para| %>
                          <%= simple_format(para) %>
                        <% end %>
                      </td>
                    </tr>

                </tbody>
              </table>
            </td>
          </tr>

          <!-- Keywords -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">Keywords:</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <tr>
                  <td class="highlight-metadata" width="15%"></td>
                  <td class="secondCol-metadata" width="85%">
                    <% @xml_hash["root"]["eml"]["dataset"]["keywordSet"]["keyword"].each do |keyword| %>
                        <%= keyword %></br>
                    <% end %>
                  </td>
                </tr>

                </tbody>
              </table>
            </td>
          </tr>

          <!-- Keywords -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">License and Usage Rights: <b><%= @xml_hash["root"]["eml"]["dataset"]["intellectualRights"]["section"]["title"] %></b> <%= @xml_hash["root"]["eml"]["dataset"]["intellectualRights"]["section"]["para"]["emphasis"] %>
                  </td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <tr>
                  <td class="highlight-metadata" width="15%"></td>
                  <td class="secondCol-metadata" width="85%">
                    <% @xml_hash["root"]["eml"]["dataset"]["intellectualRights"]["section"]["section"].each do |section| %>

                           <p>
                             <b><%= "#{section['title']}:" %></b></br>
                             <% if section["para"].kind_of?(Array) %>
                                <% section["para"].each do |para| %>
                                  <%= simple_format(para) %>
                                <% end %>
                             <% else %>
                                 <% if section["para"].to_s.include?("orderedlist") %>
                                     <% @meta_hash = {} %>
                                     <%= section["para"].each do |pair| %>
                                         <% key,value = pair.split(/:/) %>
                                         <% @meta_hash[key] = value %>
                                     <% end %>
                                     <% puts "meta data" %>
                                     <%= @meta_hash["orderedlist"] %>
                                 <% else %>

                                     <%= section["para"] %>
                                 <% end %>

                             <% end %>

                           </p>

                    <% end %>
                  </td>
                </tr>

                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="100%" class="defaulttable">
    <tbody>
    <tr>
      <td colspan="2" class="tablehead-metadata">Additional Metadata</td>
    </tr>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="highlight-metadata" width="15%">Additional Metadata:</td>
            <td class="secondCol-metadata" width="85%">Item
              1&nbsp;<a href="http://ecotrends.nmsu.edu:/exploratory/metacat?action=read&amp;qformat=exploratory&amp;sessionid=&amp;docid=ecotrends.9001.1&amp;displaymodule=additionalmetadata&amp;additionalmetadataindex=1"><b>(View)</b></a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="100%" class="defaulttable">
    <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="highlight-metadata" width="15%">Additional Metadata:</td>
            <td class="secondCol-metadata" width="85%">Item
              2&nbsp;<a href="http://ecotrends.nmsu.edu:/exploratory/metacat?action=read&amp;qformat=exploratory&amp;sessionid=&amp;docid=ecotrends.9001.1&amp;displaymodule=additionalmetadata&amp;additionalmetadataindex=2"><b>(View)</b></a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="100%" class="defaulttable">
    <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="highlight-metadata" width="15%">Additional Metadata:</td>
            <td class="secondCol-metadata" width="85%">Item
              3&nbsp;<a href="http://ecotrends.nmsu.edu:/exploratory/metacat?action=read&amp;qformat=exploratory&amp;sessionid=&amp;docid=ecotrends.9001.1&amp;displaymodule=additionalmetadata&amp;additionalmetadataindex=3"><b>(View)</b></a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="100%" class="defaulttable">
    <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="highlight-metadata" width="15%">Additional Metadata:</td>
            <td class="secondCol-metadata" width="85%">Item
              4&nbsp;<a href="http://ecotrends.nmsu.edu:/exploratory/metacat?action=read&amp;qformat=exploratory&amp;sessionid=&amp;docid=ecotrends.9001.1&amp;displaymodule=additionalmetadata&amp;additionalmetadataindex=4"><b>(View)</b></a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="100%" class="defaulttable">
    <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="highlight-metadata" width="15%">Additional Metadata:</td>
            <td class="secondCol-metadata" width="85%">Item
              5&nbsp;<a href="http://ecotrends.nmsu.edu:/exploratory/metacat?action=read&amp;qformat=exploratory&amp;sessionid=&amp;docid=ecotrends.9001.1&amp;displaymodule=additionalmetadata&amp;additionalmetadataindex=5"><b>(View)</b></a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="100%" class="defaulttable">
    <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="highlight-metadata" width="15%">Additional Metadata:</td>
            <td class="secondCol-metadata" width="85%">Item
              6&nbsp;<a href="http://ecotrends.nmsu.edu:/exploratory/metacat?action=read&amp;qformat=exploratory&amp;sessionid=&amp;docid=ecotrends.9001.1&amp;displaymodule=additionalmetadata&amp;additionalmetadataindex=6"><b>(View)</b></a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="100%" class="defaulttable">
    <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="highlight-metadata" width="15%">Additional Metadata:</td>
            <td class="secondCol-metadata" width="85%">Item
              7&nbsp;<a href="http://ecotrends.nmsu.edu:/exploratory/metacat?action=read&amp;qformat=exploratory&amp;sessionid=&amp;docid=ecotrends.9001.1&amp;displaymodule=additionalmetadata&amp;additionalmetadataindex=7"><b>(View)</b></a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="100%" class="defaulttable">
    <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="highlight-metadata" width="15%">Additional Metadata:</td>
            <td class="secondCol-metadata" width="85%">Item
              8&nbsp;<a href="http://ecotrends.nmsu.edu:/exploratory/metacat?action=read&amp;qformat=exploratory&amp;sessionid=&amp;docid=ecotrends.9001.1&amp;displaymodule=additionalmetadata&amp;additionalmetadataindex=8"><b>(View)</b></a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>


  <script type="text/JavaScript" language="JavaScript">
    <
    !--insertTemplateClosing('http://ecotrends.nmsu.edu:/exploratory');//--></script>
</div>