<div id="metadata-container">
  <script type="text/JavaScript" language="JavaScript">
    <
    !--insertTemplateOpening('http://ecotrends.nmsu.edu:/exploratory');//--></script>
  <table cellpadding="0" cellspacing="0" class="mainContainerTableStyle" width="100%">
    <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
          <tbody>
          <tr>
            <td class="tablehead-metadata" colspan="2">Dataset title</td>
          </tr>
          <tr>
            <td class="citation" colspan="2">
              <%= @xml_hash["root"]["eml"]["dataset"]["title"] %>
            </td>
          </tr>
          <tr>
            <td class="tablehead-metadata" colspan="2">Dataset ciation</td>
          </tr>
          <tr>
            <td class="highlight-metadata" width="15%">
              Publisher(s)
            </td>
            <td width="85%">
              <ul>
                <% @xml_hash["root"]["eml"]["dataset"]["creator"].each do |creator| %>


                    <li>
                      <% if creator["organizationName"].nil? != true %>
                          <%= creator["organizationName"] %>
                      <% else %>
                          <%= "#{creator['individualName']['salutation']} #{creator['individualName']['givinName']} #{creator['individualName']['surName']}" %>
                      <% end %>
                    </li>

                <% end %>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="highlight-metadata" width="15%">
              Published Date
            </td>
            <td width="85%">
              <ul>
                <li><%= @xml_hash["root"]["eml"]["dataset"]["pubDate"] %></li>
              </ul>
            </td>
          </tr>

          <tr>
            <td class="tablehead-metadata" colspan="2">Dataset ID</td>
          </tr>
          <tr>
            <td class="citation" colspan="2">
              <%= @xml_hash["root"]["eml"]["dataset"]["dataTable"]["entityName"] %>
            </td>
          </tr>
          <tr>
            <td class="tablehead-metadata" colspan="2">Short name</td>
          </tr>
          <tr>
            <td class="citation" colspan="2">
              <%= @xml_hash["root"]["eml"]["dataset"]["shortName"] %>
            </td>
          </tr>
          <tr>
            <td class="tablehead-metadata" colspan="2">Download file</td>
          </tr>
          <tr>
            <td class="citation" colspan="2">
              <%= link_to @xml_hash["root"]["eml"]["dataset"]["dataTable"]["physical"]["distribution"]["online"]["url"], @xml_hash["root"]["eml"]["dataset"]["dataTable"]["physical"]["distribution"]["online"]["url"] %>
            </td>
          </tr>

          <!-- source url -->
          <% if @xml_hash["root"]["eml"]["additionalMetadata"].nil? == false %>
            <% @xml_hash["root"]["eml"]["additionalMetadata"].each do |meta_data| %>
              <% if meta_data["metadata"]["sourceMetadataURLs"].nil? == false %>
                <tr>
                  <td class="tablehead-metadata" colspan="2">Source metadata</td>
                </tr>
                <% if meta_data["metadata"]["sourceMetadataURLs"]["sourceMetadataURL"].kind_of?(Array) == false %>
                  <td class="citation" colspan="2">
                    <%= link_to meta_data["metadata"]["sourceMetadataURLs"]["sourceMetadataURL"], meta_data["metadata"]["sourceMetadataURLs"]["sourceMetadataURL"] %>
                  </td>
                <% elsif meta_data["metadata"]["sourceMetadataURLs"]["sourceMetadataURL"].kind_of?(Array) == true %>
                  <td class="citation" colspan="2">
                  <% meta_data["metadata"]["sourceMetadataURLs"]["sourceMetadataURL"].each do |link| %>
                    <%= link_to link, link%></br>
                  <% end %>
                  </td>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <!-- data set owners -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">Dataset owners</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <% @xml_hash["root"]["eml"]["dataset"]["creator"].each do |creator| %>

                    <tr>
                      <td class="highlight-metadata" width="15%">
                        <% if creator["organizationName"].nil? != true %>
                            <%= creator["organizationName"] %>
                        <% else %>
                            <%= "#{creator['individualName']['salutation']} #{creator['individualName']['givinName']} #{creator['individualName']['surName']}" %>
                        <% end %>
                      </td>
                      <td class="secondCol-metadata" width="85%">
                      <% if creator["address"] %>
                            <%= formatted_address(creator["address"]).html_safe %>
                      <% end %>

                        Email: <%= link_to creator["electronicMailAddress"], "mailto:#{creator['electronicMailAddress']}" %></br>
                        Website: <%= link_to creator["onlineUrl"], creator["onlineUrl"] %></br>
                      </td>
                    </tr>

                <% end %>

                </tbody>
              </table>
            </td>
          </tr>
          <!-- metadata owners -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">Metadata providers</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <% @xml_hash["root"]["eml"]["dataset"]["metadataProvider"].each do |provider| %>

                    <tr>
                      <td class="highlight-metadata" width="15%"><%= provider["organizationName"] %></td>
                      <td class="secondCol-metadata" width="85%">
                        <%= formatted_address(provider["address"]).html_safe %>
                        Phone: <%= provider["phone"] %></br>
                        Email: <%= link_to provider["electronicMailAddress"], "mailto:#{provider['electronicMailAddress']}" %></br>
                        Website: <%= link_to provider["onlineUrl"], provider["onlineUrl"] %></br>
                      </td>
                    </tr>

                <% end %>

                </tbody>
              </table>
            </td>
          </tr>

          <!-- Abstract -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">Abstract</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                    <tr>
                      <td class="highlight-metadata" width="15%"></td>
                      <td class="secondCol-metadata" width="85%">
                        <% @xml_hash["root"]["eml"]["dataset"]["abstract"]["para"].each do |para| %>
                          <%= simple_format(para) %>
                        <% end %>
                      </td>
                    </tr>

                </tbody>
              </table>
            </td>
          </tr>

          <!-- Keywords -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">Keywords</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <tr>
                  <td class="highlight-metadata" width="15%"></td>
                  <td class="secondCol-metadata" width="85%">
                    <% @xml_hash["root"]["eml"]["dataset"]["keywordSet"]["keyword"].each do |keyword| %>
                        <%= keyword %></br>
                    <% end %>
                  </td>
                </tr>

                </tbody>
              </table>
            </td>
          </tr>

          <!-- License and Usage Rights -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>
                  <td colspan="2" class="tablehead-metadata">License and usage rights
                  </td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <tr>
                  <td class="highlight-metadata" width="15%"></td>
                  <td class="secondCol-metadata" width="85%">
                    <p><%= @xml_hash["root"]["eml"]["dataset"]["intellectualRights"]["section"]["title"] %></br>
                      <%= @xml_hash["root"]["eml"]["dataset"]["intellectualRights"]["section"]["para"]["emphasis"] %></p>
                    <% @xml_hash["root"]["eml"]["dataset"]["intellectualRights"]["section"]["section"].each do |section| %>
                        <% if( (section["para"].kind_of?(Array) && Array(section["para"]).length > 0) ||( section["para"].kind_of?(String) && String(section["para"]).length > 0) ) %>
                            <p>
                              <b><%= "#{section['title']}:" if section['title'].nil? == false %></b></br>
                              <% if section["para"].kind_of?(Array) %>
                                  <% section["para"].each do |para| %>
                                      <%= simple_format(para) %>
                                  <% end %>
                              <% else %>
                                  <% if section["para"].to_s.include?("orderedlist") %>
                                      <% @meta_hash = {} %>
                                      <% section["para"].each do |pair| %>
                                          <% key,value = pair.split(/:/) %>
                                          <% @meta_hash[key] = value %>
                                      <% end %>
                                      <% @meta_info = @meta_hash.first.first.second["listitem"] %>
                                      <% @meta_info.each do |item| %>
                                        <p><%= p item["para"] %></p>

                                    <% end %>
                                  <% else %>
                                    <p><%= p section["para"] %>
                                <% end %>

                            <% end %>

                            </p>
                        <% end %>


                    <% end %>
                  </td>
                </tr>

                </tbody>
              </table>
            </td>
          </tr>

          <!-- Geographic Coverage -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>

                  <td colspan="2" class="tablehead-metadata">Geographic coverage <b><%= @xml_hash["root"]["eml"]["dataset"]["coverage"]["geographicCoverage"]["geographicDescription"] %></b>
                  </td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <tr>
                  <td class="highlight-metadata" width="15%"></td>
                  <td class="secondCol-metadata" width="85%">
                    <p>
                      <b>Bounding Coordinates:</b></br>
                      <% @xml_hash["root"]["eml"]["dataset"]["coverage"]["geographicCoverage"]["boundingCoordinates"].each do |key, coordinate| %>
                        <ul>
                          <li><%= "#{key.underscore.humanize}: #{coordinate}" %></li>
                        </ul>
                      <% end %>
                    </p>
                    <p>
                      <b>Temporal Coverage Coordinates:</b></br>
                      <% @xml_hash["root"]["eml"]["dataset"]["coverage"]["temporalCoverage"]["rangeOfDates"].each do |key, date| %>
                        <ul>
                          <li><%= "#{key.underscore.humanize}: #{date['calendarDate']}" %></li>
                        </ul>
                      <% end %>
                    </p>
                  </td>
                </tr>

                </tbody>
              </table>
            </td>
          </tr>

          <!-- Contacts -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>

                  <td colspan="2" class="tablehead-metadata">Contact(s)</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <tr>
                  <td class="highlight-metadata" width="15%"></td>
                  <td class="secondCol-metadata" width="85%">
                      <% @xml_hash["root"]["eml"]["dataset"]["contact"].each do |contact| %>
                        <p>
                          <b>Name:</b> <%= contact['organizationName'] || contact['individualName'] %></br>
                          <b>Position:</b> <%= contact['positionName'] %></br>
                          <b>Address:</b></br>
                          <%= formatted_address(contact["address"]).html_safe %>

                          <% if contact["phone"].nil? == false %>
                              <% contact["phone"].each do |phone| %>
                                  <b>Phone: </b><%= phone %></br>
                              <% end %>
                          <% end %>

                          <b>Website: </b><%= link_to contact["onlineUrl"], contact["onlineUrl"] %>
                        </p>
                    <% end %>

                  </td>
                </tr>

                </tbody>
              </table>
            </td>
          </tr>

          <!-- Method Info: -->
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="100%" class="tabledefault">
                <tbody>
                <tr>

                  <td colspan="2" class="tablehead-metadata">Methods</td>
                </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                <tr>
                  <td class="highlight-metadata" width="15%"></td>
                  <td class="secondCol-metadata" width="85%">
                    <% @xml_hash["root"]["eml"]["dataset"]["methods"]["methodStep"].each do |methodStep| %>
                        <p>
                          <b>Method discription</b></br>
                          <% methodStep["description"].each do |para| %>
                              <% para.each do |pr| %>
                                <% if pr.class == Array %>
                                    <% pr.each do |stuff| %>
                                      <p><%= p stuff %> </p>
                                    <% end %>
                                <% elsif pr != "para" %>
                                   <p><%= p pr %> </p>
                                <% end %>

                              <% end %>

                          <% end %>

                        </p>
                    <% end %>

                  </td>
                </tr>

                </tbody>
              </table>
            </td>
          </tr>

          </tbody>
        </table>
</div>
