<h1>Data Results</h1>
<p><%= link_to "back", search_index_path %> | <%= link_to "Print Version", search_path(params[:id], print: true) %> | <%= link_to "CSV Download", search_path(params[:id], format: "csv") %> | <%= link_to "Turn Off Grid Lines", search_path(params[:id], show_lines: true) %> | <%= link_to "Turn Off Plot Points", search_path(params[:id], show_plots: true) %> | <%= link_to "Turn Off Both Grid and Plot Points", search_path(params[:id], show_lines: true, show_plots: true) %></p>

<% data = {
    labels: @data.map {|d| d[:year]},
    datasets: [
        {
            label: @data_record.variable_name,
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: @data.map {|d| d[:observation]}
        }
    ]
} %>
<% options = {width: 1000, generateLegend: true, scaleShowGridLines: @show_lines, pointDot: @show_plots} %>
<%= line_chart data, options %>
