<% unless @print %>
  <h1><%= @data_record.variable_name.gsub(/[A-Za-z']+/,&:capitalize) %> </h1>
<p><%= link_to "Back", request.referer %> |<%= link_to "Print / Save PDF", "#", :id=>"print-link" %>
  <i id="print-info" class="fa fa-info-circle fa-1" aria-hidden="true" title="If you would like to download a PDF please select 'Save as PDF' from your print preview window"></i> |  <%= link_to "CSV Download", search_path(params[:id], format: "csv") %>
  <%= form_tag(search_path(params[:id]), method: :get, id: "formmy") do %> <%= hidden_field_tag :both_off %>Customize Chart: <input type="checkbox" name="shooby" id="shooby" class="chart-checkbox" value="show_plots" <%= "checked" if @show_plots.present?%>> Plot Points <input type="checkbox" name="shonby" id="shonby" class="chart-checkbox" value="show_lines" <%= "checked" if @show_lines.present?%>> Grid Lines | <%= link_to "Reset Both", search_path(params[:id]) %><% end %> </p>
<% end %>
<% data = {
    labels: @data.map {|d| d[:year]},
    datasets: [
        {
            label: @data_record.variable_name,
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: @data.map {|d| d[:observation]}
        }
    ]
} %>

<% chart_width = (data[:datasets].first()[:data].count / 20) * 450 %>
<% if chart_width < 900 %>
    <% chart_width = 900 %>
<% end %>
<% options = {width: chart_width, generateLegend: true, scaleShowGridLines: @show_lines.present?, pointDot: @show_plots.present?, bezierCurve: false} %>

<div style="overflow:auto; width:1000px">
  <%= line_chart data, options %>
</div>

<% unless @print %>
  <h2>Dataset Information</h2>
    <p>
      <%= form_tag("/datastores") do %>
    	 <%= hidden_field_tag :docids, @data_record.docid  %>
    	 <%= submit_tag "Add To Datastore" %>
      <% end %>
    </p>
    <p>
      <strong>Dataset ID: </strong> <%= @data_record.docid%>

    </p>
    <p>
      <strong>
	Site: </strong><%= @data_record.site_name %>
    </p>
    <p>
      <strong>
	Station(s): </strong>	<%= @data_record.station_names %>
    </p>
    <p>
      <strong>
	Variable: </strong> <%= @data_record.variable_name %>
    </p>
    <p>
      <strong>
	Unit: </strong>	<%= @data_record.unit_name %>
    </p>
    <p>
      <strong>
	Date Range: </strong>	<%= @data_record.begin_date.year %> to <%= @data_record.end_date.year %>
    </p>
    <p>
      <strong>
	Timescale: </strong>	<%= @data_record.timescale %>
    </p>
    <p>
      <strong>
	Data Version: </strong>	1 of 1
    </p>
    <p>
      <strong>
	Other Data Versions: </strong>	None
    </p>
    <p>
      <strong>
	Derived Data: </strong>
      <a href="/derived-data/<%= @id %>">
        View data as HTML
      </a>	|
      <a href="<%= @data_url %>">
        Download as CSV
      </a>
    </p>
    <p>
      <strong>

	Derived Metadata: </strong>	<a href="/metadata/?dataset=<%= @metadata_url %>" >View as HTML</a> | <a href="<%= @metadata_url %>">Download as EML (XML)</a>
    </p>
<% end %>
