<h1>Sign Up for a new EcoTrends account</h1>
<%= form_tag '/signup' do |form| %>
  <p>
    <%= label_tag 'Username' %> <%= text_field_tag :uid, nil, placeholder: "Enter Username"%>
  </p>
  <p>
    <%= label_tag 'Given Name' %> <%= text_field_tag :gname, nil, placeholder: "Enter First Name"%>
  </p>
  <p>
    <%= label_tag 'Last Name' %> <%= text_field_tag :sname, nil, placeholder: "Enter Last Name"%>
  </p>
  <p>
    <%= label_tag 'Organization' %> <%= text_field_tag :org, nil, placeholder: "Enter Organization Name"%>
  </p>
  <p>
    <%= label_tag 'Email' %> <%= text_field_tag :email, params[:email], placeholder: "Enter Email"%>
  </p>
  <p>
    <%= label_tag 'Phone' %> <%= telephone_field_tag :phone, nil, placeholder: "Enter Phone #"%>
  </p>
  <p>
    <%= label_tag "network", 'Select Network Affiliaton (Choose "EcoTrends" if you do not have a login and password to one of the following Network Affiliates)' %>
      <select name="network">
	<option value="" selected="selected">EcoTrends</option>
	<option value="KU">KU</option>
	<option value="LTER">LTER</option>
	<option value="NCEAS">NCEAS</option>
	<option value="OBFS">OBFS</option>
	<option value="PISCO">PISCO</option>
	<option value="SAEON">SAEON</option>
	<option value="SANParks">SANParks</option>
	<option value="SDSC">SDSC</option>
	<option value="UCNRS">UCNRS</option>
      </select>
  </p>
  <p>
    <%= label_tag 'Password' %> <%= password_field_tag :password %>
  </p>
  <p>
    <%= label_tag 'Password Confirmation' %> <%= password_field_tag :password_confirmation %>
  </p>
  <p>
    <%= recaptcha_tags %>
  </p>
  <p>
    <%= submit_tag "Register" %>
  </p>
<% end %>

  <p>
    <i><%= link_to "Log In", "/login" %> if you are an existing member.</i>
  </p>
