<div class="row">
  <div class="span12 hover">
    <h1>Data Store</h1>
    <h5>Your Saved Datasets</h5>
  </div> <!-- span -->
</div> <!-- row -->
<div class="row">


  <%= form_tag('/comparison', method: :get) do %>
    <div class="span12 headerbar">
      <% if @datastores.count > 0 %>
        <button class="btn">Compare Selected</button>
      <% else %>
          <button class="btn" disabled>Compare Selected</button>
      <% end %>
    </div> <!-- span -->
</div> <!-- row -->

<!-- BEGIN SEARCH RESULTS -->
  <% @datastores.each_with_index do |result, index| %>
  <div class="row">
    <div class="span12">
      <div class="row">
	<div class="span1">
	  <fieldset>
	      <%= check_box_tag :docid, result.docid.to_s, false, {multiple: true, name: 'docids[]'} %>&nbsp;&nbsp;
	  </fieldset>
	</div> <!-- span -->
	<div class="span9">
	  <h4 class="darkbrown"><%= link_to result.extracat_metadata.variable_name, search_path(result.extracat_metadata.entryid) %></h4>
	  <p class="searchbody"><%= result.docid%></p>
	  <p><%= image_tag "station.png", class: "icon" %><%= result.extracat_metadata.station_names %></b>/ <%= result.extracat_metadata.site_name%></a>
	    --<%= result.extracat_metadata.topic %> / <%= result.extracat_metadata.subtopic %> -- <%= result.extracat_metadata.unit_name%> -- <%= result.extracat_metadata.timescale %></p>
	</div> <!-- span -->
	<div class="span2 searchright">
	  <h4><%= result.extracat_metadata.begin_date.year%> - <%= result.extracat_metadata.end_date.year %></h4>
	  <%= link_to image_tag("chart.png"), search_path(result.extracat_metadata.entryid) %><hr/>
	  <p><i class="fa fa-delete"></i><%= link_to image_tag("remove.png"), datastore_path(result.idsave), method: :delete, data: { confirm: 'Are you sure?' } %></p>
	</div> <!-- span -->
      </div> <!-- row -->
    </div> <!-- span -->
  </div>
    <% if index <= @datastores.count - 2 %>
      <hr/>
    <% end %>
  <% end %>
  <% end %> <!-- form end one hopes -->

<% if @datastores.nil? || @datastores.count < 1 %>
      <h2>It doesn't look like you have any datasets to compare. Please go to the <%= link_to "search", "/search"%>
        section of the website in order to find datasets you can add to your datastore to compare.
      </h2>
      <h3>Adding datasets to your datastore</h3>
      <p>Click on the <%= link_to "search option", "/search" %> in your menu. Once you search and find an item you are looking for you can click to see more details about that data. You will be presented with a chart and and other info about the data you have found and there will be a button that allows you to add the result to your datastore. </p>
      <%= image_tag "add-to-datastore", class:'add-to-datastore'%>

      <h3>Powerful Charting</h3>
      <a href="#charting"></a>
      <p>Once you have added some items to your datastore you can select them from your datastore list and compair them side by side. </p>
      <%= image_tag "compairing-datasets", class:'compairing-datasets'%>
<% end %>
