<div class="row">
	<div class="span12">
		<h1>About EcoTrends</h1>
	  <p>
      It is widely recognized that the Earth's environment is changing in many aspects at local, regional, and global scales. Dramatic changes have occurred in climate, land cover, and habitat availability with important consequences for plant, animal, and human populations. Long-term data are needed to assess the rate and direction of change, to distinguish directional trends in these changes (e.g., persistent increases or decreases) from short-term variability (e.g., multi-year cycles), and to forecast environmental conditions in the future.
      <b>The EcoTrends Project is designed to promote and enable the use and synthesis of long-term data to examine these trends in the Earth's ecosystems.</b>
    </p>
    <p>
      Data relevant to these trends have been collected for decades to centuries from over 100 experimental forests, rangeland research stations, and other ecological research sites that can be used to examine these long-term trends. This large suite of sites represents a wide range of ecosystem types, from forests to grasslands and shrublands, freshwater lakes and streams, near coastal marine and estuaries as well as urban areas and systems in the arctic and Antarctica.
      These data can be used to address many different kinds of questions: for example, what are trends in climate, disturbances, and land use? and how do these trends influence ecological responses through time? Examples of the use of these long-term data to address critical science questions can be found in our accompanying book, "Our Changing World: Insights from Long-Term Ecological Research". The "raw" datasets and their associated metadata (descriptions of the data) are available from internet home pages of individual sites or investigators. However, these detailed datasets are often of most use to scientists familiar with the site, ecosystem, and method of data collection. In many cases, it is very difficult for someone unfamiliar with the data to access and use the raw data to address new and interesting questions. The site-based format also makes it difficult for scientists to use the raw data to address more synthetic questions that require long-term data from many sites or from different types of ecosystems or from different time periods.
      <b>The goal of EcoTrends is to make simplified versions of these datasets, called derived datasets, easily accessible and understandable to a large audience in common formats on a single web site.</b>
    </p>
    <p>
      For example, a raw data set on aboveground net primary production (ANPP) at a grassland site may include data collected from a number of quadrats arrayed along transects within locations that are sampled three times annually for many species. These data can be combined and analyzed to result in one measure of ANPP for that site or location in each year. The EcoTrends web site reports these derived data: one estimate of ANPP for each site or location in each year with the associated metadata PLUS links to the original data, metadata, and the principal investigator who collected the raw data. These annual ANPP estimates can be viewed and downloaded for many sites such that comparisons can be easily made across different grasslands, and with annual estimates from forests, lakes, and marine sites.
      <b>The intent of EcoTrends is to promote synthesis activities and the use of long-term data, not only by scientists, but also more generally by students, teachers, and decision makers.</b>
      </br></br><b>Thus, the EcoTrends website is a portal to:</b>
      <ul>
        <li>a large and diverse collection of standardized long-term ecological datasets</li>
        <li>unique data exploration, download, graphing and synthesis tools</li>
        <li>information about participating research sites and their parent agencies as contextual information to assist in data and trend interpretation</li>
      </ul>
    These datasets, tools, and information are freely available to anyone wishing to explore long-term ecological responses to environmental drivers. Proper credit to both the EcoTrends project and to the original data source need to be provided in any publication or product that uses these data.
    </p>
    <p>
      Although the initial focus of EcoTrends is data collected by sites funded by US agencies, we encourage the addition of datasets from other sites, both in the US and abroad.
      The graphs found in our book, Our Changing World: Insights From Long Term Ecological Research, as well as the data used to generate them, can be easily browsed and viewed here. Browse our site using the menu to the left.
    </p>
    <h3>What EcoTrends is not</h3>
    <p>
      While derived data are necessarily based on and calculated from raw data collected under field and laboratory conditions, it is NOT the intent of EcoTrends to duplicate the rich amount of information found in the raw data. Users interested in the raw data should go to the web link associated with that data. Each derived dataset in EcoTrends has links to the original metadata and/or the URL of the contributor's website that can be accessed from our web page.
    </p>
    <h3>EcoTrends Project Management</h3>
    <p>
      The EcoTrends project started in 2004 as a simple idea between two scientists (D. Peters, A. Lugo) who asked the question: how do we make long-term data easily accessible to a large group of people who may not be familiar with the raw data? A committee of scientists and technical experts from several agencies and sites was formed to insure that different kinds of data (e.g., population, community, ecosystems) from a variety of ecosystems (e.g., lakes, grasslands, marine, polar, alpine) would be well-represented, documented, and made accessible through a common web page. This committee provided the guidance and determination to pull together over 1200 datasets into the EcoTrends project.
    </p>
    <p>
      <b>Committee members: Scientists</b>
    <ul>
      <li>Debra Peters, EcoTrends Project Leader, Jornada Experimental Range (USDA ARS) and Jornada Basin LTER, Las Cruces, NM
      </li>
      <li>Christine Laney, EcoTrends Project Coordinator, Jornada Basin LTER, New Mexico State University, Las Cruces, NM
      </li>
      <li>Scott Collins, Sevilleta LTER, University of New Mexico, Albuquerque, NM</li>
      <li>Charles Driscoll, Hubbard Brook LTER, Syracuse University, Syracuse, NY</li>
      <li>Peter Groffman, Institute of Ecosystem Studies, Millbrook, NY</li>
      <li>Morgan Grove, Baltimore Ecosystem Study (LTER, USDA FS), Baltimore, MD</li>
      <li>Tim Kratz, North Temperate Lakes LTER, University of Wisconsin, Trout Lake, WI
      </li>
      <li>Ariel Lugo, Luquillo Experimental Forest (USDA FS, LTER), San Juan, Puerto Rico
      </li>
      <li>Mark Ohman, California Current Ecosystem LTER, University of San Diego and Scripps Institute of Oceanography, La Jolla, CA</li>
      <li>Bob Waide, LTER Network Office and Luquillo LTER, University of New Mexico, Albuquerque, NM</li>
    </ul>
    </p>
    <p>
      <b>Committee members: Technical experts</b>
    <ul>
      <li>James Brunt, LTER Network Office, University of New Mexico, Albuquerque, NM</li>
      <li>Duane Costa, LTER Network Office, University of New Mexico, Albuquerque, NM</li>
      <li>Don Henshaw, H.J. Andrews Experimental Forest (LTER, USDA FS), Corvallis, OR</li>
      <li>Ken Ramsey, Jornada Basin LTER, New Mexico State University, Las Cruces, NM</li>
      <li>Inigo San Gil, LTER Network Office, University of New Mexico, Albuquerque, NM</li>
      <li>Mark Schildhauer, National Center for Ecological Analysis and Synthesis (NCEAS), University of California at Santa Barbara, Santa Barbara, CA</li>
      <li>Mark Servilla, LTER Network Office, University of New Mexico, Albuquerque, NM</li>
      <li>Wade Sheldon, Georgia Coastal Ecosystem LTER, University of Georgia, Athens, GA</li>
      <li>Marshall White, LTER Network Office, University of New Mexico, Albuquerque, NM</li>
    </ul>
    </p>
    <p>
      <b>Web Application: Developers</b>
    <ul>
      <li>Duane Costa, LTER Network Office, University of New Mexico, Albuquerque, NM</li>
      <li>Mark Servilla, LTER Network Office, University of New Mexico, Albuquerque, NM</li>
    </ul>
    </p>
    <p>
      <b>Collaborators</b></br>
      A large number of scientists and information managers at every site participated by collecting the data, in many cases for many years, making them available to the EcoTrends project, and by checking the quality of the EcoTrends derived data products. Please see individual data set links or site links for more details on the raw data.
    </p>
    <hr>
  </div> <!-- span -->
</div> <!-- row -->
<div class="row">
	<div class="span8">
		<h1>Help Us Grow Our Datasets</h1>
		<h2>We are interested in expanding our database to include additional sites from both within the US and in other countries.</h2>
	</div> <!-- span -->
	<div class="span4">
		<h1>Contact Us</h1>
    <%= form_for @message, url: contact_url do |message_form| %>
        <fieldset>
          <div class="field">
            <%= message_form.text_field :subject, placeholder: "Subject", class:"span4" %>
          </div>

          <div class="field">
            <%= message_form.email_field :email, placeholder: "Email", class:"span4" %>
          </div>

          <div class="field">
            <%= message_form.text_area :content, placeholder: "Message", class:"span4" %>
          </div>
        </fieldset>

        <fieldset>
          <%= recaptcha_tags %>
        </fieldset>

        <fieldset>
          <div class="field" style="padding-top:6px;">
            <%= message_form.submit "Send Message", class: "btn btn-primary" %>
          </div>
        </fieldset>
    <% end %>
	</div> <!-- span -->
</div> <!-- row -->