<div id="content">
  <h1>Recent Publications </h1>
  <p><strong>Submit a pdf of any final publication using EcoTrends data to: ecotrend@nmsu.edu</strong></p><br>

  <div class="bookinfo">

    <p><b>Peters, Debra P. C., Laney Christine M., Lugo Ariel E., Collins Scott L., Driscoll Charles T., Groffman Peter M., J. Grove Morgan, Knapp Alan K., Kratz Timothy K., Ohman Mark D., Waide Robert B., and Yao Jin. 2013. Long-Term Trends in Ecological Systems: A Basis for Understanding Responses to Global Change. U.S.D.A. Agricultural Research Service, Technical Bulletin No. 1931. p.378. </br><a href="http://www.ars.usda.gov/is/np/LongTermTrends/LongTermTrendsIntro.htm" target="_blank">CLICK HERE</a>.</b></p><b>
    <br>
    <p><b>Perry, Ann. 2012. Climate Changes Help Grass Come Back to U.S. Rangelands. USDA News and Events article August 3, 2012. Accessed on 08/06/2012. </br><a href="http://www.ars.usda.gov/is/pr/2012/120803.htm" target="_blank">CLICK HERE</a></a> . </b></p>
    <br>

    <p><b>Perry, Ann. 2012. Climate Change May Help Restore Arid Grasslands. Agricultural Resource magazine August 2012, Vol. 60, no. 7. Accessed August 2, 2012. </br><a href="http://ars.usda.gov/is/AR/archive/aug12/August2012.pdf" target="_blank">CLICK HERE</a>. </b></p>
    <br>

    <p><b>Haan-Amato, S., and S. Bestelmeyer. 2012. High School students in New Mexico put a fresh twist on presenting LTER data. LTER Network News Spring 2012, Vol. 25, no. 2. </b></br><a href="/home/synthesis"> Synthesis figures and maps from the book</a>
    </p>
  </b></div><b>
  <br class="clear">

  <h2>Publications resulting from the use of EcoTrends data</h2>
  <br>
  <table class="publicationstable">
    <tbody><tr>
      <th class="pdficon">PDF Version</th>
      <th class="link">HTML Version</th>
      <th class="description">Summary</th>
    </tr>
    <tr>
      <td class="pdficon"><%= link_to image_tag("pdf.gif"), asset_path("ARS_magazine_Aug2012issue_Peters_research.pdf"), target: "_blank" %></td>
      <td class="link"><%= link_to image_tag("html.gif"), "http://www.ars.usda.gov/is/pr/2012/120803.htm", {target: "_blank", "data-pin-nopin" =>"true"} %></td>
      <td class="description">Perry, Ann. 2012. Climate Changes Help Grass Come Back to U.S. Rangelands. USDA News and Events article August 3, 2012. Accessed on 08/06/2012. http://www.ars.usda.gov/is/pr/2012/120803.htm. </td>
    </tr>
    <tr>
      <td class="pdficon"><%= link_to image_tag("pdf.gif"), asset_path("ARS_magazine_Aug2012issue_Peters_research.pdf"), target: "_blank" %></td>
      <td class="link"><%= link_to image_tag("html.gif"), "http://ars.usda.gov/is/AR/archive/aug12/grasslands0812.htm", {target:"_blank", "data-pin-nopin" => "true" } %></td>
      <td class="description">Perry, Ann. 2012. Climate Change May Help Restore Arid Grasslands. Agricultural Resource magazine August 2012, Vol. 60, no. 7. Accessed August 2, 2012. http://ars.usda.gov/is/AR/archive/aug12/August2012.pdf. </td>
    </tr>
    <tr>
      <td class="pdficon"><%= link_to image_tag("pdf.gif"), "#", target: "_blank" %></td>
      <td class="link"></td>
      <td class="description">Haan-Amato, S., and S. Bestelmeyer. 2012. High School students in New Mexico put a fresh twist on presenting LTER data. LTER Network News Spring 2012, Vol. 25, no. 2. </td>
    </tr>
    <tr>
      <td class="pdficon"></td>
      <td class="link"></td>
      <td class="description">Johnson DR, Ebert-May D, Webber PJ, and Tweedie CE. 2011. Forecasting alpine vegetation change using repeat sampling and a novel modeling approach. Ambioo 40: 693-704.</td>
    </tr>
    <tr>
      <td class="pdficon"><%= link_to image_tag("pdf.gif"), asset_path("es11-00115.1.pdf"), target:"_blank" %></td>
      <td class="link"></td>
      <td class="description">
        Peters, D. P. C., A. E. Lugo, F. S. Chapin, III, S. T. A. Pickett, M. Duniway, A. V. Rocha, F. J. Swanson, C. Laney, and J. Jones. 2011. <b>Cross-system comparisons elucidate disturbance complexities and generalities</b>. Ecosphere 2(7):art81. doi:10.1890/ES11-00115.1
      </td>
    </tr>
    <tr>
      <td class="pdficon"></td>
      <td class="link"></td>
      <td class="description">
        Peters, D.P.C. 2010. <b>Accessible ecology: synthesis of the long, deep, and broad</b>. Trends in Ecology and Evolution 25: 592-601.
      </td>
    </tr>
    <tr>
      <td class="pdficon"></td>
      <td class="link"></td>
      <td class="description">
        Carpenter, S.R., Armbrust, E.V., Arzberger, P.W., Chapin, III F.S., Elser, J.J., Hackett, E.J., Ives, A.R., Kareiva, P.M., Leibold, M.A., Lundberg, P., Mangel, M., Merchant, N., Murdoch, W.W., Palmer, M.A., Peters, D.P.C., Pickett, S.T.A., Smith, K.K., Wall, D.H., and Zimmerman, A.S. 2009. <b>Accelerate synthesis in ecology and environmental sciences</b>. BioScience 59: 699-701.
      </td>
    </tr>
    <tr>
      <td class="pdficon"></td>
      <td class="link"></td>
      <td class="description">
        Moran MS, Peters DPC, McClaran MP, Nicholls MH, Adams MB. 2008. <b>Long-term data collection at USDA experimental sites for studies of ecohydrology</b>. Ecohydrology 1:377-393.
      </td>
    </tr>
    <tr>
      <td class="pdficon"><%= link_to image_tag("pdf.gif"), asset_path("EcoTrendsWebPortal.pdf"), target:"_blank" %></td>
      <td class="link"></td>
      <td class="description">
        Servilla, M., Costa, D., Laney, C., San Gil, I., Brunt, J. 2008. <b>The EcoTrends Web Portal: An Architecture for Data Discovery and Exploration</b>. Proceedings of the Environmental Information Management Conference 2008.
      </td>
    </tr>
    <tr>
      <td class="pdficon"><%= link_to image_tag("pdf.gif"), asset_path("DataBits_06spring.pdf"), target: "_blank" %></td>
      <td class="link"></td>
      <td class="description">
        Laney, CM &amp; DPC Peters. 2006. <b>EcoTrends in Long-Term Ecological Data: a collaborative synthesis project, introduction and update</b>. Databits Spring 2006.
      </td>
    </tr>
    <tr>
      <td class="pdficon"><%= link_to image_tag("pdf.gif"), asset_path("jornv10i1.pdf"), target: "_blank" %></td>
      <td class="link"></td>
      <td class="description">
        Peters, DPC &amp; CM Laney. 2006. <b>EcoTrends in long-term ecological research project</b>. Jornada Trails 10(1): 2.
      </td>
    </tr>
    </tbody></table>
  <br>
  <p>
    <strong>Please submit a copy of all publications that are based on
      EcoTrends data to:</strong><br><br>
    EcoTrends Project Coordinator<br>
    Jornada Basin LTER<br>
    Box 30003, MSC 3JER, NMSU<br>
    Las Cruces, NM  88003-0003<br>
    Voice: 575 646 3478<br>
    email:  <a href="mailto:ecotrend@nmsu.edu">ecotrend@nmsu.edu</a>
  </p>

</b></div>
