
				<div class="footbox">
		      <ul>
		      	<a href="/policies"><li>Policies & Guidelines |&nbsp</li></a>
		      	<a href="/home/contact"><li>Contact Us |&nbsp</li></a>
		      	<a href="/home/glossary"><li>Glossary</li></a>
		      </ul>

					<div style="text-align: center; margin-top:20px;">
	          <a href="http://www.fs.fed.us/" target="_blank">
		    <%= image_tag 'FS.gif', width: "34", height: "36", border: "0"%>
	            </a>
	            <a href="http://www.ars.usda.gov" target="_blank">
		    <%= image_tag 'ARS2.gif', width: "36", height: "36", border: "0"%>
	            </a>
	            <a href="http://www.nceas.ucsb.edu" target="_blank">
		    <%= image_tag 'NCEAS.gif', width: "36", height: "36", border: "0"%>
	            </a>
	            <a href="http://www.lternet.edu/" target="_blank">
		    <%= image_tag 'LTER_small.gif', width: "30", height: "36", border: "0"%>
	            </a> <a href="http://www.nsf.gov/" target="_blank">
		    <%= image_tag 'NSF.gif', width: "36", height: "36", border: "0"%>
	            </a>
	            <a href="http://www.USGS.gov/" target="_blank">
		    <%= image_tag 'USGS.gif', width: "45", height: "36", border: "0"%>
	            </a>
	            <a href="http://www.nmsu.edu/" target="_blank">
		    <%= image_tag 'nmsu.gif', width: "33", height: "36", border: "0"%>
	            </a>
	            <a href="http://www.energy.gov/" target="_blank">
		    <%= image_tag 'doe.gif', width: "36", height: "36", border: "0"%>
	            </a>
	            <a href="http://www.esa.org/" target="_blank">
		    <%= image_tag 'esa.png', width: "40", height: "68", border: "0"%>
	            </a>
	        </div>
		<p><strong>Disclaimer and Legal Statement:</strong> This material is based upon work supported by
	           the National Science Foundation under Grant number DEB-0080412. Any opinions,
	           findings, conclusions, or recommendations expressed in the material are those
	           of the author(s) and do not necessarily reflect the views of the National
	           Science Foundation or New Mexico State University.
	        </p>
			      <p>All Rights Reserved. EcoTrends &copy; <%= DateTime.now.year%>.</p>
				</div>
