<h1>Login</h1>

<%= form_tag '/login' do |form| %>
  <p>
    <%= label_tag 'Username' %> <%= text_field_tag :uid, nil, placeholder: "Enter Username"%>
  </p>
  <p>
    <%= label_tag 'Password' %> <%= password_field_tag :password %>
  </p>
  <p>
    <%= label_tag "network", 'Select Network Affiliaton' %>
    <select name="network">
      <option value="" selected="selected">EcoTrends</option>
      <option value="KU">KU</option>
      <option value="LTER">LTER</option>
      <option value="NCEAS">NCEAS</option>
      <option value="OBFS">OBFS</option>
      <option value="PISCO">PISCO</option>
      <option value="SAEON">SAEON</option>
      <option value="SANParks">SANParks</option>
      <option value="SDSC">SDSC</option>
      <option value="UCNRS">UCNRS</option>
    </select>
  </p>
  <p>
    <%= submit_tag "Log In" %>
  </p>
  <p>
    <i><%= link_to "Register", signup_path%> if you are not yet a member.</i> |
    <i><%= link_to "Forgot Password?", "/reset_password" %> if you are an Ecotrends Network member and forgot your password.</i>
  </p>
<% end %>
