<h1>Account Page</h1>
<p>Update your Information by filling out the form below.</p>
<%= form_tag "/account/#{@user.uid}", method: :put do |form| %>
  <p>
    <%= label_tag 'Username' %> <%= text_field_tag :uid, @user.uid, placeholder: "Enter Username"%>
  </p>
  <p>
    <%= label_tag 'Given Name' %> <%= text_field_tag :gname, @user.gname, placeholder: "Enter First Name"%>
  </p>
  <p>
    <%= label_tag 'Last Name' %> <%= text_field_tag :sname, @user.sname, placeholder: "Enter Last Name"%>
  </p>
  <p>
    <%= label_tag 'Organization' %> <%= text_field_tag :org, @user.org, placeholder: "Enter Organization Name"%>
  </p>
  <p>
    <%= label_tag 'Email' %> <%= text_field_tag :email, @user.email, placeholder: "Enter Email"%>
  </p>
  <p>
    <%= label_tag 'Phone' %> <%= telephone_field_tag :phone, @user.phone, placeholder: "Enter Phone #"%>
  </p>
  <p>
    <%= submit_tag "Update Account Info" %>
  </p>
<% end %>
